html, body {
  margin: 0;
  height: 100%;
  padding: 0;
}

div#app {
  height: 100%;
}

div#sidebar {
  background: lightgray;
  border-right: 5px solid black;
  box-sizing: border-box;
  float: left;
  height: 100%;
  padding: 1rem;
  width: 400px;
}

div#create-ident {
  display: none;
}

ul#clusters {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul#clusters li::before {
  content: "#";
}

div#viewport {
  height: 100%;
  margin-left: 400px;
}
