<!DOCTYPE html>

<html>
  <head>
    <title>cluster chat alpha</title>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="index.css" type="text/css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
    <script src="index.js"></script>
  </head>

  <body>
    <div id="app">
      <div id="sidebar">
        <select name="ident" id="ident" v-model="currentIdent">
          <option v-for="(ident, index) in idents" v-bind:value="index">
            {{ ident.name }}
          </option>
        </select>

        <button id="toggle-create-ident" v-on:click="toggleCreateIdent">
          +
        </button>

        <div id="create-ident">
          <input
              id="new-ident-name"
              placeholder="username..."
              type="text"
              v-model="createIdentName" />
          <input
              id="new-ident-passphrase"
              placeholder="password..."
              type="password"
              v-model="createIdentPass" />
          <button id="" v-on:click="createIdent">create identity</button>
        </div>

        <ul id="clusters"></ul>
      </div>
      <div id="viewport">
      </div>
    </div>
  </body>

  <script>$(document).ready(go);</script>
</html>
